name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install ruff black bandit pytest
      
      - name: Install package
        run: pip install -e .

      - name: Run ruff
        run: ruff check .

      - name: Run Black
        run: black --check .

      - name: Run Bandit
        run: bandit -r src -ll  
        
      - name: Run Pytest
        run: pytest -q